# Site settings
title: Gustav J. Iversen
description: ML Student | Builder | Writer
author: Gustav J. Iversen
email: gustavjes0105@gmail.com
url: "https://gustavjiversen01.github.io"
baseurl: ""

# Build settings
markdown: kramdown
highlighter: rouge

kramdown:
  math_engine: mathjax
  input: GFM
  syntax_highlighter: rouge

# Collections
collections:
  projects:
    output: true
    permalink: /projects/:name/

# Defaults
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "project"

# Exclude from build
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor

# Plugins
plugins:
  - jekyll-feed
  - jekyll-seo-tag
